<h2>My projects stats</h2>

<br><br>

<table class="table">
  <tbody>
    <tr>
      <td>Total errors</td>
      <td><%= @stats["logs"] %></td>
    </tr>
    <tr>
      <td>Total events</td>
      <td><%= @stats["events"] %></td>
    </tr>
  </tbody>
</table>